<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EasyMongo:NinjectBindings:MongoDBServerConnStr" value="mongodb://localhost"/>
    <add key="EasyMongo:NinjectBindings:DatabaseName"         value="TEST_DB_1"/>
    <add key="EasyMongo:NinjectBindings:CollectionName"       value="MONGO_READER_TESTS"/>
  </appSettings>
</configuration>